<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/keyanridgeway/IdeaProjects/SoftwareTestingFinal">
        <classes>
            <class name="org.example.ChannelPage">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.HomePage">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.LivePage">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.ManageChannel">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.SearchPage">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.Subscriptions">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.TrendingPage">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.VideoPage">
                <methods>
                    <include name="testHomepage"/>
                </methods>
            </class>
            <class name="org.example.Video_Player">
                <methods>
                    <include name="play_pause"/>
                    <include name="Fullscreen"/>
                    <include name="Commenting"/>
                    <include name="Volume"/>
                    <include name="Like_vid"/>
                    <include name="dislike_vid"/>
                    <include name="playlist"/>
                    <include name="subscribe"/>
                    <include name="captions"/>
                    <include name="mini_player"/>
                    <include name="Theatre"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>